<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}TODO My the best default title{% endblock %} | Yatube</title>
</head>
<body>
<header>
    <h1>{% block header %}TODO My the best default header{% endblock %}</h1>
</header>
<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer>TODO My the best default footer</footer>
</body>
</html>
